In [425]:
# py -m pip install --upgrade pip setuptools wheel
# py -m pip install catboost
# py -m pip install ipywidgets
# py -m pip install scikit-learn

import pandas as pd
import numpy as np

from catboost import CatBoostClassifier

from sklearn.preprocessing import LabelEncoder # Кодирование категориальных данных
from sklearn.feature_selection import SelectKBest # Выбор признаков
from sklearn.feature_selection import chi2 # Выбор признаков по Хи квадрат

from sklearn.model_selection import train_test_split # Деление выборки на тестовые и тренировочные данные

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score # Критерий качества, точности

In [426]:
# Генерируем тестовые данные и сохраняем в CSV файл
def generate_students(subjects: int, count: int):
  objects = [f"subject_{num + 1}" for num in range(subjects)]
  grades = np.random.randint(0, 100, (count, subjects))
  data = pd.DataFrame(data = grades, columns = objects)
  data.sum(axis = 0)
  data['score_mean'] = np.round((data.sum(axis = 1) / subjects), 3)
  for index, row in data.iterrows():
    if (row['score_mean'] < 45):
      data.loc[index, 'score_text'] = 'удовлетворительно'
    elif (row['score_mean'] >= 45 and row['score_mean'] < 75):
      data.loc[index, 'score_text'] = 'хорошо'
    else:
      data.loc[index, 'score_text'] = 'отлично'
  return data

generate = generate_students(subjects = 6, count = 2000)
generate.to_csv('data.csv', index = False)
generate

,subject_1,subject_2,subject_3,subject_4,subject_5,subject_6,score_mean,score_text
0,63,37,36,37,13,12,33.000,удовлетворительно
1,4,90,25,65,4,93,46.833,хорошо
2,73,35,23,66,75,61,55.500,хорошо
3,75,37,65,99,78,92,74.333,хорошо
4,77,61,22,40,1,64,44.167,удовлетворительно
...,...,...,...,...,...,...,...,...
1995,27,59,85,29,6,26,38.667,удовлетворительно
1996,43,9,51,85,38,82,51.333,хорошо
1997,31,52,11,49,35,65,40.500,удовлетворительно
1998,39,58,13,17,33,16,29.333,удовлетворительно
1999,77,47,99,95,70,80,78.000,отлично

In [427]:
# Загружаем данные из CSV файла
data = pd.read_csv('data.csv')
data

,subject_1,subject_2,subject_3,subject_4,subject_5,subject_6,score_mean,score_text
0,63,37,36,37,13,12,33.000,удовлетворительно
1,4,90,25,65,4,93,46.833,хорошо
2,73,35,23,66,75,61,55.500,хорошо
3,75,37,65,99,78,92,74.333,хорошо
4,77,61,22,40,1,64,44.167,удовлетворительно
...,...,...,...,...,...,...,...,...
1995,27,59,85,29,6,26,38.667,удовлетворительно
1996,43,9,51,85,38,82,51.333,хорошо
1997,31,52,11,49,35,65,40.500,удовлетворительно
1998,39,58,13,17,33,16,29.333,удовлетворительно
1999,77,47,99,95,70,80,78.000,отлично

In [428]:
# Определение признаков
X = data.drop(['score_mean', 'score_text'], axis = 1)
X

      subject_1  subject_2  subject_3  subject_4  subject_5  subject_6
0            63         37         36         37         13         12
1             4         90         25         65          4         93
2            73         35         23         66         75         61
3            75         37         65         99         78         92
4            77         61         22         40          1         64
...         ...        ...        ...        ...        ...        ...
1995         27         59         85         29          6         26
1996         43          9         51         85         38         82
1997         31         52         11         49         35         65
1998         39         58         13         17         33         16
1999         77         47         99         95         70         80

[2000 rows x 6 columns]

In [429]:
# Определение целевой переменной
y = data['score_text']
y

0       удовлетворительно
1                  хорошо
2                  хорошо
3                  хорошо
4       удовлетворительно
              ...
1995    удовлетворительно
1996               хорошо
1997    удовлетворительно
1998    удовлетворительно
1999              отлично
Name: score_text, Length: 2000, dtype: object

In [430]:
# Преобразовываем категориальный признак в числовой
label_encoder = LabelEncoder()
temp_y_encoded = label_encoder.fit_transform(y)
temp_y_encoded

array([1, 2, 2, ..., 1, 1, 0])

In [431]:
# Объеденяем категориальный признак текстовой с числовым и сохраняем в CSV файл
temp_y = y.values
y_new = pd.DataFrame(data = list(zip(temp_y, temp_y_encoded)), columns = ['y', 'y_encoded'])
y_new.to_csv('score_text_labels.csv', index=False)
y_new

                      y  y_encoded
0     удовлетворительно          1
1                хорошо          2
2                хорошо          2
3                хорошо          2
4     удовлетворительно          1
...                 ...        ...
1995  удовлетворительно          1
1996             хорошо          2
1997  удовлетворительно          1
1998  удовлетворительно          1
1999            отлично          0

[2000 rows x 2 columns]

In [432]:
# Выбираем лучшие 3 признака с использованием критерия хи-квадрат
y = temp_y_encoded
selector = SelectKBest(chi2, k = 3)
X_best = selector.fit_transform(X, y)
X_best

array([[37, 13, 12],
       [65,  4, 93],
       [66, 75, 61],
       ...,
       [49, 35, 65],
       [17, 33, 16],
       [95, 70, 80]], dtype=int64)

In [433]:
# Разделяем датасет на тестовую и обучающую выборку
# 80% обучающей выборки, 20% тестовой
X = X_best
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 64)

In [434]:
# Обучаем модель CatBoostClassifier и сохраняем модель в файл
model = CatBoostClassifier(iterations = 100, depth = 4, learning_rate = 0.1)
model.fit(X_train, y_train)
model.save_model('people_university_model_eff.cbm')

0:	learn: 1.0179389	total: 951us	remaining: 94.2ms
1:	learn: 0.9454897	total: 2.17ms	remaining: 106ms
2:	learn: 0.8885463	total: 3.06ms	remaining: 99ms
3:	learn: 0.8456438	total: 3.89ms	remaining: 93.3ms
4:	learn: 0.8039621	total: 6.24ms	remaining: 119ms
5:	learn: 0.7683083	total: 7.15ms	remaining: 112ms
6:	learn: 0.7377631	total: 7.99ms	remaining: 106ms
7:	learn: 0.7139484	total: 8.82ms	remaining: 101ms
8:	learn: 0.6891367	total: 9.65ms	remaining: 97.6ms
9:	learn: 0.6692607	total: 10.5ms	remaining: 94.4ms
10:	learn: 0.6518988	total: 11.3ms	remaining: 91.5ms
11:	learn: 0.6349529	total: 12.1ms	remaining: 88.9ms
12:	learn: 0.6209520	total: 12.9ms	remaining: 86.6ms
13:	learn: 0.6096002	total: 13.8ms	remaining: 84.7ms
14:	learn: 0.5991502	total: 14.7ms	remaining: 83ms
15:	learn: 0.5886793	total: 15.5ms	remaining: 81.3ms
16:	learn: 0.5798358	total: 16.3ms	remaining: 79.6ms
17:	learn: 0.5711276	total: 17.5ms	remaining: 79.7ms
18:	learn: 0.5638252	total: 18.6ms	remaining: 79.2ms
19:	learn: 0.5578420	total: 20.9ms	remaining: 83.7ms
20:	learn: 0.5516316	total: 22.1ms	remaining: 83.3ms
21:	learn: 0.5459445	total: 23.3ms	remaining: 82.7ms
22:	learn: 0.5408972	total: 24.5ms	remaining: 82ms
23:	learn: 0.5369202	total: 25.6ms	remaining: 81.1ms
24:	learn: 0.5326402	total: 29.1ms	remaining: 87.2ms
25:	learn: 0.5294518	total: 30.5ms	remaining: 86.8ms
26:	learn: 0.5257616	total: 31.6ms	remaining: 85.5ms
27:	learn: 0.5219138	total: 32.8ms	remaining: 84.4ms
28:	learn: 0.5183271	total: 34ms	remaining: 83.1ms
29:	learn: 0.5155471	total: 38ms	remaining: 88.7ms
30:	learn: 0.5127774	total: 40.5ms	remaining: 90.1ms
31:	learn: 0.5102160	total: 41.7ms	remaining: 88.6ms
32:	learn: 0.5082335	total: 42.9ms	remaining: 87ms
33:	learn: 0.5052993	total: 44.1ms	remaining: 85.7ms
34:	learn: 0.5035213	total: 45.6ms	remaining: 84.7ms
35:	learn: 0.5014034	total: 47ms	remaining: 83.5ms
36:	learn: 0.4993451	total: 49.4ms	remaining: 84ms
37:	learn: 0.4979760	total: 53.6ms	remaining: 87.5ms
38:	learn: 0.4962772	total: 55ms	remaining: 86.1ms
39:	learn: 0.4948752	total: 56.3ms	remaining: 84.4ms
40:	learn: 0.4937194	total: 57.1ms	remaining: 82.2ms
41:	learn: 0.4925307	total: 58ms	remaining: 80ms
42:	learn: 0.4909978	total: 58.9ms	remaining: 78.1ms
43:	learn: 0.4902348	total: 60.1ms	remaining: 76.4ms
44:	learn: 0.4890197	total: 60.9ms	remaining: 74.4ms
45:	learn: 0.4881896	total: 61.7ms	remaining: 72.5ms
46:	learn: 0.4866425	total: 62.6ms	remaining: 70.6ms
47:	learn: 0.4855164	total: 63.4ms	remaining: 68.6ms
48:	learn: 0.4845402	total: 64.2ms	remaining: 66.8ms
49:	learn: 0.4837247	total: 65.5ms	remaining: 65.5ms
50:	learn: 0.4827415	total: 66.9ms	remaining: 64.2ms
51:	learn: 0.4818189	total: 67.7ms	remaining: 62.5ms
52:	learn: 0.4811919	total: 68.9ms	remaining: 61.1ms
53:	learn: 0.4805862	total: 70.1ms	remaining: 59.7ms
54:	learn: 0.4795898	total: 70.9ms	remaining: 58ms
55:	learn: 0.4786772	total: 71.7ms	remaining: 56.4ms
56:	learn: 0.4779381	total: 72.9ms	remaining: 55ms
57:	learn: 0.4772795	total: 74ms	remaining: 53.6ms
58:	learn: 0.4764083	total: 75ms	remaining: 52.1ms
59:	learn: 0.4757357	total: 76.1ms	remaining: 50.7ms
60:	learn: 0.4753210	total: 77.2ms	remaining: 49.4ms
61:	learn: 0.4744185	total: 78.3ms	remaining: 48ms
62:	learn: 0.4739230	total: 79.4ms	remaining: 46.6ms
63:	learn: 0.4730943	total: 82.6ms	remaining: 46.5ms
64:	learn: 0.4726772	total: 84.1ms	remaining: 45.3ms
65:	learn: 0.4724154	total: 86ms	remaining: 44.3ms
66:	learn: 0.4718754	total: 87.3ms	remaining: 43ms
67:	learn: 0.4713360	total: 88.4ms	remaining: 41.6ms
68:	learn: 0.4705816	total: 89.4ms	remaining: 40.2ms
69:	learn: 0.4699061	total: 90.5ms	remaining: 38.8ms
70:	learn: 0.4692073	total: 91.5ms	remaining: 37.4ms
71:	learn: 0.4687306	total: 92.6ms	remaining: 36ms
72:	learn: 0.4680851	total: 93.6ms	remaining: 34.6ms
73:	learn: 0.4679528	total: 94.7ms	remaining: 33.3ms
74:	learn: 0.4674512	total: 96.9ms	remaining: 32.3ms
75:	learn: 0.4670397	total: 98.1ms	remaining: 31ms
76:	learn: 0.4665409	total: 99.2ms	remaining: 29.6ms
77:	learn: 0.4660854	total: 100ms	remaining: 28.3ms
78:	learn: 0.4654344	total: 101ms	remaining: 26.9ms
79:	learn: 0.4649474	total: 103ms	remaining: 25.8ms
80:	learn: 0.4645017	total: 104ms	remaining: 24.4ms
81:	learn: 0.4639944	total: 105ms	remaining: 23.1ms
82:	learn: 0.4633820	total: 106ms	remaining: 21.7ms
83:	learn: 0.4632084	total: 107ms	remaining: 20.3ms
84:	learn: 0.4628850	total: 108ms	remaining: 19ms
85:	learn: 0.4624764	total: 108ms	remaining: 17.6ms
86:	learn: 0.4616892	total: 109ms	remaining: 16.3ms
87:	learn: 0.4614156	total: 110ms	remaining: 15ms
88:	learn: 0.4603528	total: 112ms	remaining: 13.8ms
89:	learn: 0.4598517	total: 113ms	remaining: 12.6ms
90:	learn: 0.4593707	total: 115ms	remaining: 11.4ms
91:	learn: 0.4586065	total: 116ms	remaining: 10.1ms
92:	learn: 0.4581930	total: 118ms	remaining: 8.88ms
93:	learn: 0.4575561	total: 119ms	remaining: 7.62ms
94:	learn: 0.4572742	total: 121ms	remaining: 6.35ms
95:	learn: 0.4567760	total: 121ms	remaining: 5.06ms
96:	learn: 0.4562389	total: 122ms	remaining: 3.78ms
97:	learn: 0.4559736	total: 125ms	remaining: 2.55ms
98:	learn: 0.4555322	total: 126ms	remaining: 1.27ms
99:	learn: 0.4551843	total: 126ms	remaining: 0us

In [435]:
# Загружаем мобель из файла
model_new = CatBoostClassifier()
model_new.load_model('people_university_model_eff.cbm')

In [436]:
# Делаем предсказания на тестовом наборе
y_pred = model_new.predict(X_test)
y_pred

array([[2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [1],
       [1],
       [2],
       [1],
       [2],
       [2],
       [1]], dtype=int64)

In [437]:
# Оцениваем точность модели
accuracy_eff = accuracy_score(y_test, y_pred)
print(f"Правильность (accuracy) модели: {accuracy_eff}")

precision_eff = precision_score(y_test, y_pred, average='weighted')
print(f"Точность (precision) модели: {precision_eff}")

recall_eff = recall_score(y_test, y_pred, average='weighted')
print(f"Полнота (recall) модели: {recall_eff}")

f1_eff = f1_score(y_test, y_pred, average='weighted')
print(f"F1 мера модели: {f1_eff}")

Правильность (accuracy) модели: 0.76
Точность (precision) модели: 0.7362142857142857
Полнота (recall) модели: 0.76
F1 мера модели: 0.7456491228070175

In [442]:
def classifyStudent(grades_new):
  # Преобразование данных студента в DataFrame
  data_new = pd.DataFrame([grades_new])

  # Прогнозирование с использованием обученной модели (SelectBestK)
  predicted_category = model_new.predict(data_new)[0][0]

  # Преобразование обратно в текстовую категорию
  categories = ['отлично', 'удовлетворительно', 'хорошо']
  predict = categories[predicted_category]
  return predict

In [455]:
# Генерируем данные для прогноза
grades_new = np.random.randint(0, 100, 6)
grades_new

array([18, 21,  1, 87, 80, 35])

In [456]:
# Прогнозирование
predict = classifyStudent(grades_new)
print(f"Студент скорее всего получит (SelectBestK): {predict}")

Студент скорее всего получит (SelectBestK): удовлетворительно