In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sqlite3
import psycopg2

In [19]:
# Data Frame (загрузка CSV файла с данными разделенными запятой)
# Загрузка файла из Git репозитория в Pandas
dataset = pd.read_csv('https://raw.githubusercontent.com/SotGE/innopolis2023/main/certification1/dataset_tk.csv', sep=',')
# sns.load_dataset('titanic')
# Просмотр типов данных в датасете
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         503 non-null    object
 1   Punjab             503 non-null    float64
 2   Haryana            503 non-null    float64
 3   Rajasthan          503 non-null    float64
 4   Delhi              503 non-null    float64
 5   UP                 503 non-null    float64
 6   Uttarakhand        503 non-null    float64
 7   HP                 503 non-null    float64
 8   J&K                503 non-null    float64
 9   Chandigarh         503 non-null    float64
 10  Chhattisgarh       503 non-null    float64
 11  Gujarat            503 non-null    float64
 12  MP                 503 non-null    float64
 13  Maharashtra        503 non-null    float64
 14  Goa                503 non-null    float64
 15  DNH                503 non-null    float64
 16  Andhra Pradesh     503 non-null    float64
 17  Telangana          503 non-null    float64
 18  Karnataka          503 non-null    float64
 19  Kerala             503 non-null    float64
 20  Tamil Nadu         503 non-null    float64
 21  Pondy              503 non-null    float64
 22  Bihar              503 non-null    float64
 23  Jharkhand          503 non-null    float64
 24  Odisha             503 non-null    float64
 25  West Bengal        503 non-null    float64
 26  Sikkim             503 non-null    float64
 27  Arunachal Pradesh  503 non-null    float64
 28  Assam              503 non-null    float64
 29  Manipur            503 non-null    float64
 30  Meghalaya          503 non-null    float64
 31  Mizoram            503 non-null    float64
 32  Nagaland           503 non-null    float64
 33  Tripura            503 non-null    float64
dtypes: float64(33), object(1)
memory usage: 133.7+ KB

In [20]:
# Просмотр наименования колонок
# Дата
# Потребление электроэнергии в гигаваттах по городам
print(dataset.columns) # list с заголовками
print(" ".join(dataset.columns))

Index(['Unnamed: 0', 'Punjab', 'Haryana', 'Rajasthan', 'Delhi', 'UP',
       'Uttarakhand', 'HP', 'J&K', 'Chandigarh', 'Chhattisgarh', 'Gujarat',
       'MP', 'Maharashtra', 'Goa', 'DNH', 'Andhra Pradesh', 'Telangana',
       'Karnataka', 'Kerala', 'Tamil Nadu', 'Pondy', 'Bihar', 'Jharkhand',
       'Odisha', 'West Bengal', 'Sikkim', 'Arunachal Pradesh', 'Assam',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Tripura'],
      dtype='object')
Unnamed: 0 Punjab Haryana Rajasthan Delhi UP Uttarakhand HP J&K Chandigarh Chhattisgarh Gujarat MP Maharashtra Goa DNH Andhra Pradesh Telangana Karnataka Kerala Tamil Nadu Pondy Bihar Jharkhand Odisha West Bengal Sikkim Arunachal Pradesh Assam Manipur Meghalaya Mizoram Nagaland Tripura

In [21]:
# Первые ячейки
dataset.head(10)

,Unnamed: 0,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Odisha,West Bengal,Sikkim,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura
0,02/01/2019 00:00:00,119.9,130.3,234.1,85.8,313.9,40.7,30.0,52.5,5.0,...,70.2,108.2,2.0,2.1,21.7,2.7,6.1,1.9,2.2,3.4
1,03/01/2019 00:00:00,121.9,133.5,240.2,85.5,311.8,39.3,30.1,54.1,4.9,...,67.9,110.2,1.9,2.2,23.4,2.4,6.5,1.8,2.2,3.6
2,04/01/2019 00:00:00,118.8,128.2,239.8,83.5,320.7,38.1,30.1,53.2,4.8,...,66.3,106.8,1.7,2.2,21.7,2.4,6.3,1.7,2.2,3.5
3,05/01/2019 00:00:00,121.0,127.5,239.1,79.2,299.0,39.2,30.2,51.5,4.3,...,65.8,107.0,2.0,2.2,22.5,2.7,5.7,1.8,2.3,3.5
4,06/01/2019 00:00:00,121.4,132.6,240.4,76.6,286.8,39.2,31.0,53.2,4.3,...,62.9,106.4,2.0,2.2,21.7,2.7,6.2,1.9,2.3,3.3
5,07/01/2019 00:00:00,118.0,132.1,241.9,71.1,294.2,40.1,30.1,53.3,4.0,...,64.0,109.3,1.5,2.2,21.4,2.5,6.1,1.8,2.3,3.3
6,08/01/2019 00:00:00,107.5,121.4,237.2,69.0,289.4,37.0,29.2,51.2,3.8,...,63.6,102.9,1.6,2.3,20.7,2.6,6.2,1.8,2.1,3.3
7,09/01/2019 00:00:00,132.5,148.2,197.0,89.2,258.6,35.9,25.3,37.9,3.9,...,86.6,131.7,1.1,2.1,25.8,2.3,6.0,1.7,2.4,4.2
8,10/01/2019 00:00:00,131.5,157.0,199.9,92.8,284.2,35.3,26.5,31.7,3.9,...,78.8,140.1,1.1,2.1,25.8,2.4,6.2,1.7,2.1,4.3
9,11/01/2019 00:00:00,130.3,145.3,187.7,79.5,281.4,30.1,23.9,37.3,3.4,...,78.4,149.8,0.8,2.1,27.9,2.4,6.2,1.8,2.1,4.3

In [22]:
# Последние ячейки
dataset.tail(10)

,Unnamed: 0,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Odisha,West Bengal,Sikkim,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura
493,01/11/2020 00:00:00,284.4,205.8,220.9,126.4,403.0,45.1,29.9,41.9,6.5,...,81.0,177.9,1.2,2.2,34.0,2.6,5.8,2.0,2.2,5.6
494,02/11/2020 00:00:00,271.4,210.4,218.1,122.3,364.9,44.2,29.9,41.0,6.0,...,79.7,161.8,1.0,2.1,30.9,2.3,5.6,1.7,2.0,5.2
495,03/11/2020 00:00:00,270.0,199.5,201.3,119.6,377.9,42.2,25.0,43.0,5.6,...,80.6,144.9,0.8,2.2,26.8,2.4,5.9,1.4,2.1,4.3
496,04/11/2020 00:00:00,124.3,117.9,213.8,72.0,311.1,34.1,24.9,44.5,3.3,...,81.3,145.8,1.1,2.0,18.0,2.3,4.9,1.5,1.9,2.6
497,05/11/2020 00:00:00,124.4,124.0,216.6,75.0,320.1,35.6,24.7,45.4,3.5,...,95.3,168.7,1.3,2.0,19.8,2.1,5.3,1.7,1.9,2.4
498,01/12/2020 00:00:00,130.8,126.0,220.4,77.3,322.8,36.5,25.4,45.4,3.6,...,105.7,172.6,1.4,2.1,20.4,2.1,5.4,1.8,2.0,2.4
499,02/12/2020 00:00:00,129.4,127.3,218.4,81.3,331.4,37.0,25.8,45.2,3.7,...,112.3,174.4,1.5,2.1,23.3,2.4,5.4,1.6,2.1,3.3
500,03/12/2020 00:00:00,132.1,129.7,205.6,85.6,336.7,37.8,26.2,45.2,4.0,...,113.0,169.8,1.4,2.1,21.7,2.3,5.4,1.5,2.0,3.6
501,04/12/2020 00:00:00,132.1,128.4,207.0,83.9,334.6,38.2,27.0,43.0,4.0,...,111.6,145.5,1.2,2.0,24.2,2.5,5.7,1.6,2.0,3.3
502,05/12/2020 00:00:00,120.4,111.2,201.4,83.6,287.3,35.2,24.3,42.6,3.5,...,95.1,110.4,1.2,2.1,20.3,2.5,5.8,1.6,2.1,3.3